@model BullsAndCows.Web.ViewModels.GameStateViewModel
@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>


<div class="row @(Model.GameViewModel.PlayerNumber == null ? "" : "hidden")" id="start-game-field">
    <div class="col-md-offset-4 col-md-4">
        @using (Ajax.BeginForm("Start",
            new AjaxOptions
            {
                UpdateTargetId = "table-heading",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "showGameBoard",
                OnFailure = "onInvalidGameNumber"
            }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.GameViewModel.PlayerNumber)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.GameViewModel.PlayerNumber,
                    new { @class = "form-control", placeholder = "Place you secret number here"})
            </div>
            <div class="form-group text-danger" id="game-number-validation">
                @Html.ValidationMessageFor(x => x.GameViewModel.PlayerNumber)
            </div>
            <div class="form-group">
                <input type="submit" value="Start" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
<div class="row @(Model.GameViewModel.PlayerNumber == null ? "hidden" : "")" id="play-game-field">
    <div class="col-md-offset-1 col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading" id="table-heading">
                @if (Model.GameViewModel.PlayerNumber != null)
                {
                    Html.RenderPartial("_NumberControlsGameStarted", Model.GameViewModel);
                }
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Guess</th>
                            <th>Bulls</th>
                            <th>Cows</th>
                        </tr>
                    </thead>
                    <tbody id="player-guess-list">
                        @foreach (var item in Model.PlayerGuesses)
                        {
                            @Html.Partial("_GuessRow", item);
                        }
                    </tbody>
                </table>
            </div>

            <div class="panel-footer" id="player-guess-controls">
                @using (Ajax.BeginForm("MakeGuess",
                    null,
                    new AjaxOptions
                    {
                        UpdateTargetId = "player-guess-list",
                        InsertionMode = InsertionMode.InsertAfter,
                        OnSuccess = "onPlayerGuessSuccess",
                        OnFailure = "onInvalidGuessNumber",
                    },
                    new { @class = "form-inline" }))
                {
                    @Html.Partial("_GuessForm", new BullsAndCows.Web.ViewModels.GuessViewModel());
                }
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-danger">
            <div class="panel-heading">Computer</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Guess</th>
                            <th>Bulls</th>
                            <th>Cows</th>
                        </tr>
                    </thead>
                    <tbody id="computer-guess-list">
                        @foreach (var item in Model.ComputerGuesses)
                        {
                            @Html.Partial("_GuessRow", item);
                        }
                    </tbody>
                </table>
            </div>

            <div class="panel-footer" id="computer-guess-controls">
                <span class="hidden" id="waiting-computer-guess">Waiting oponent...</span>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        var game = $.connection.game;

        game.client.endGame = onGameEnd;
        game.client.playComputerTurn = onComputerTurn;

        $.connection.hub.start();
    };

    function onGameEnd() {
        window.location = '/Game/Results';
    }

    function onComputerTurn(resultRow) {
        $('#computer-guess-list').append(`
                <tr>
                    <td>${resultRow.Number}</td>
                    <td>${resultRow.BullsCount} Bulls</td>
                    <td>${resultRow.CowsCount} Cows</td>
                </tr>`);
    }

    function showGameBoard() {
        $('#start-game-field').addClass('hidden');
        $('#play-game-field').removeClass('hidden');
    }

    function onInvalidGameNumber(err) {
        $parent = $('#game-number-validation');
        onInvalidNumber(err, $parent);
    }

    function onInvalidGuessNumber(err) {
        $parent = $('#guess-number-validation');
        onInvalidNumber(err, $parent);
    }

    function onInvalidNumber(err, $parent) {
        var message = err.responseJSON.message;

        var $errorMessage = $(`<span>${message}</span>`)
        $parent.append($errorMessage);

        setTimeout(function () {
            $errorMessage.detach();
        }, 2000);
    }

    function onPlayerGuessSuccess() {
        $('#waiting-computer-guess').removeClass('hidden');

        setTimeout(function () {
            $.connection.game.server.playComputerTurn();

            $('#waiting-computer-guess').addClass('hidden');
        }, Math.random() * 2000);
    }
</script>

@section Scripts {
    <script src="/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="/signalr/hubs"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
}

